#optionFrame {
    margin: 5px;
    padding: 5px;
}

#canvasFrame {
    width: auto;
    height: auto;
    background: gray;
}
#from {
    /* background: rgb(218, 140, 140); */
    background: white;
}

#to {
    /* background: rgb(125, 125, 199); */
    background: white;
}